@import "../../styles/variables";
.nav-search{
    margin-right: 5px;
}
label{
    font-family: $font-subheading;
    font-weight: 700;
    font-size: 1rem;
    color: $colour-navy;
}
input { 
    font-size:1rem; 
     font-family:$font-content; 
     background-color: $colour-offwhite;
      border-color: $colour-darklilac; 
      border-style:solid; 
      border-radius:12px; 
      border-width:2px;  
    }
input:focus { 
    outline:$colour-navy; 
} 
