@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=IM+Fell+DW+Pica:ital@0;1&family=Karma&display=swap');

$font-subheading: 'Aboreto', cursive;
$font-heading: 'IM Fell DW Pica', serif;
$font-content: 'Karma', serif;

$colour-lilac: #dbd3ed;
$colour-offwhite: #f0f0ee;