@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=IM+Fell+DW+Pica:ital@0;1&family=Karma&display=swap');

$font-subheading: 'Aboreto', cursive;
$font-heading: 'IM Fell DW Pica', serif;
$font-content: 'Karma', serif;

$colour-lilac: #dbd3ed;
$colour-darklilac:#a889f3;
$colour-offwhite: #f0f0ee;
$colour-paleblue: #87a6bb;
$colour-palestblue: #f1f3f3;
$colour-navy: #2e364c;

$colour-darkerlilac:#a889f3;
$colour-darkestlilac:#895def;
$colour-verypaleblue: #ecf6fd;
$colour-palestlilac: #f0ecf9;