.era-card{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    &__info{
        display: flex;
        flex-direction: column;

        &--image{
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
}