@import "../../styles/variables";

.nav{
    display: flex;
    flex-direction: column;
    height: 25vh;
    background-color: $colour-lilac;
    &__heading{
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &--text{
            color: $colour-offwhite;
            font-family: $font-heading;
            font-style: oblique;
            font-weight: 100;
            font-size: 4rem;
        }
    }
    &__filtering{
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}