@import "../../styles/variables";

.era-card-container__display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $colour-paleblue;
}
